.accont_detail {
	height: 400px;
	margin: 10px 20px
}

.accont_detail_right {
	float: left;
	width: 450px;
	height: 400px;
	background: white;
	overflow: hidden;
	margin-left: 54px
}

.accont_detail_left {
	float: left;
	width: 450px;
	height: 400px;
	background: white;
	overflow: hidden;
	margin: 0 8%
}

.accont_detail_left .guest_detail {
	width: 300px;
	margin-left: 20px;
	font-size: 16px;
	margin-top: 20px;
	border-left: 3px solid #ff0242;
	padding-left: 20px;
	height: 36px;
	line-height: 36px
}

.accont_detail_right .guest_detail {
	width: 300px;
	margin-left: 20px;
	font-size: 16px;
	margin-top: 20px;
	border-left: 3px solid #ff0242;
	padding-left: 20px;
	height: 36px;
	line-height: 36px
}

.account_set_head span {
	display: inline-block;
}

.account_set_head_ {
	margin: 40px 60px 20px 60px;
	width: 100px;
	height: 100px;
	border-radius: 4px;
	overflow: hidden;
}

.account_set_head_ img {
	width: 100px;
	height: 100px;
	border-radius: 4px;
}

.alter_head {
	width: 130px;
	height: 35px;
	border-radius: 20px;
	background: white;
	text-align: center;
	line-height: 35px;
	position: relative;
	top: -70px;
	box-shadow: 0px 6px 10px #ccc;
	border: none;
}

.alter_head img {
	position: relative;
	left: -5px
}

input[type=radio]:checked {
	background: red !important
}

.account_set_head .account_name {
	width: 360px;
	margin-left: 60px;
}

.account_name input {
	margin-left: 40px;
	border-radius: 4px;
	width: 260px
}

.account_sex {;
	width: 360px;
	margin-left: 60px;
	margin-top: 20px;
}

.account_sex span {
	display: inline-block;
	margin-left: 40px;
	margin-right: 20px
}

.account_sex span input {
	margin-right: 10px
}

.accont_detail_left:hover, .accont_detail_right:hover {
	background: url('../images/back_.png');
	box-shadow: 0 0 30px #ccc;
	background-size: 450px 420px;
}

.accont_detail_left, .accont_detail_right {
	background: url('../images/back.png') no-repeat;
	padding-top: 10px;
	padding-bottom: 10px;
	background-size: 450px 400px;
	cursor: pointer;
}

.account_name_ {
	width: 360px;
	margin-left: 60px;
	margin-top: 40px;
}

.account_sure {
	border-radius: 50px;
	box-shadow: 0px 6px 6px #ccc;
	width: 140px;
	height: 40px !important;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	background: white;
	margin-left: 150px;
	border: none;
	margin-top: 40px
}

.account_name_ input {
	margin-left: 50px
}

.set_save {
	margin: 20px 100px
}

.set_save .first_button {
	background: #2a3244;
	color: #dddddd;
}

.set_save button {
	border-radius: 50px;
	box-shadow: 0px 6px 6px #ccc;
	width: 100px;
	height: 40px !important;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	background: white;
	margin-left: 20px;
	border: none;
}