* {
	font-family: microsoft yahei
}

i {
	font-style: normal
}

.right_head {
	height: 80px
}

input, button, select, textarea {
	outline: none
}

.shopp {
	display: inline-block;
}

.right_head li {
	width: 86px;
	float: left;
	text-align: center;
	margin-right: 60px;
	height: 80px
}

.right_ul img {
	height: 42px;
	width: 42px
}

.right_ul {
	background: #f2f5f8;
	float: left;
	padding-left: 50px
}

.right_ul div {
	MARGIN-TOP: 10PX
}

.right_head {
	background: #f2f5f8
}

.right_ul li.active {
	background: white
}

.right_button {
	float: right;
	margin: 20px 20px
}

.right_button .save {
	float: left;
	width: 130px;
	height: 35px;
	border-radius: 20px;
	background: #2a3244;
	text-align: center;
	line-height: 35px;
	color: #dddddd;
	box-shadow: 0px 6px 10px #ccc;
	border: none;
	margin-right: 10px
}

.right_button .cancle {
	float: left;
	width: 130px;
	height: 35px;
	border-radius: 20px;
	background: white;
	text-align: center;
	line-height: 35px;
	box-shadow: 0px 6px 10px #ccc;
	border: none;
}

.tab_content {
	padding-top: 90px;
	background: white;
}

.tab_content_div_left {
	float: left;
	padding-left: 50px
}

.tab_content_div_right {
	float: left
}

.tab_content_div_left div {
	height: 50px
}

.tab_content_div_left div input {
	position: relative;
	left: 58px;
	border-radius: 5px !important
}

.tab_content_div_left select {
	position: relative;
	left: 30px;
	width: 147px;
	padding-left: 64px;
	border-radius: 5px !important
}

.write, .write_3, .write_4, .write_5, .write_6, .write_7 {
	border-radius: 50px;
	box-shadow: 0px 4px 20px #ccc;
	width: 140px;
	height: 36px !important;
	text-align: center;
	line-height: 36px;
	cursor: pointer;
	position: relative;
	top: 60px;
	left: 20px;
}

.write .add_ {
	position: relative;
	right: 18px
}

.textarea {
	height: 100px;
	border: 1px solid #ccc;
	position: relative;
	top: -20px !important;
	width: 220px !important;
	left: 120px !important;
}

.rightpanel .left_1 {
	background: url('../images/rotate.png') no-repeat;
	position: absolute;
	height: 257px;
	width: 50px;
	z-index: 2;
	right: 0;
	top: 300px
}

.zzc {
	position: fixed;
	top: 0px;
	height: 1090px;
	left: 0px;
	width: 100%;
	z-index: 10000;
	background: rgba(102, 108, 121, 0.8);
	display: none
}

.save_ {
	height: 30px;
	width: 100px;
	border-radius: 10px;
	box-shadow: 0 0 20px #ccc;
	background: white;
	border: none;
	color: black
}

.left_1 img {
	position: relative;
	top: 95px;
	left: 10px
}

.step_1 {
	margin-top: 40px;
	display: none
}

.button_1, .button_2 {
	border: none;
	width: 100px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	margin-left: 900px;
	margin-top: 20px;
	background: white;
	box-shadow: 0 0 15px #ccc;
	border-radius: 10px;
}

.editor {
	cursor: pointer
}

.choose {
	MARGIN-LEFT: 150PX;
	HEIGHT: 50PX;
}

input[type=radio] {
	margin-left: 20px
}

.width_ {
	display: inline-block;
	width: 120px
}

.price_ {
	display: inline-block;
	width: 100px
}

.step_1  select {
	border: none;
	width: 80px;
}

.step_1 td {
	width: 100px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #fff;
	line-height: 40px;
	text-align: center
}

.cut_step_1, .cut_step_3 {
	border: none !important
}

.step_1 input {
	border: none;
	width: 80px
}

.step_2 {
	margin-top: 40px;
	width: 1026px
}

.step_2  select {
	width: 158px
}

.step_2 td {
	width: 160px
}

.table_ {
	border: 1px solid #dbdce2;
	box-shadow: 0 0 10px #ccc;
	border-right: 1px solid #dbdce2 !important;
	color: #afb0b6;
	left: 60px !important
}

.table_s td {
	border-right: none !important;
	border-left: none !important;
	border-right: none !important;
	border-left: none !important;
	border: 1px solid #ccc;
	vertical-align: middle;
	text-align: center
}

.table_s {
	margin-left: 20px;
	line-height: 40px;
	width: 1030px
}

.table_s {
	border: 1px solid #dbdce2;
	box-shadow: 0 0 10px #ccc
}

.table_s tr {
	color: #383e52
}

.write_4 {
	position: relative;
	left: 50px !important
}

.step_2 {
	border: 1px solid #dbdce2;
	box-shadow: 0 0 10px #ccc;
}

.table_ td {
	width: 130px;
	border: 1px solid #ccc;
	line-height: 40px;
	text-align: center
}

.cash {
	margin-left: 35px;
	width: 400px;
	margin-top: 30px;
	background: white;
	position: relative;
	z-index: 10;
	height: 300px;
	padding: 20px;
	display: none;
	color: black
}

.column_img_container {
	background: url('../images/back.png') no-repeat;
	padding-top: 10px;
	padding-bottom: 10px;
	background-size: 210px 210px;
	height: 190px;
	cursor: pointer
}

.column_img_container:hover {
	background: url('../images/back_.png');
	box-shadow: 0 0 30px #ccc
}

.head_pic img {
	height: 60px;
	width: 60px;
	transition: transform 1s ease-out;
	overflow: hidden;
	border-radius: 30px
}

.head_pic img:hover {
	transform: rotate(360deg);
}

.head_pic {
	height: 60px;
	width: 60px;
	border-radius: 30px;
	overflow: hidden;
	box-shadow: 0 0 20px #ccc;
	margin: 15px auto
}

.shop_number li {
	width: 93px;
	text-align: center;
	float: left;
}

.head_pic em img {
	height: 20px;
	width: 20px
}

.boss_cut {
	font-size: 14px;
	color: #383e52;
	display: inline-block;
}

.column_img_container span {
	display: inline-block;
}

.hair {
	text-align: center;
	margin-top: 4px;
	color: #d4dbe5
}

em {
	font-style: normal
}

.hair img {
	padding-right: 10px !important;
	position: relative;
	top: 6px;
	border: none !important;
	display: inline-block !important
}

.shop_number li em {
	color: #d4dbe5;
}

.column_small_first {
	margin: 10px 20px 50px 20px
}

.shop_number li p {
	color: #383e52
}

.shop_number {
	margin-top: 2px;
}

.shop_number li:first-child {
	border-right: 1px solid #dae1eb;
	height: 20px;
	margin-top: 14px;
}

.number_ {
	display: inline-block;
	position: relative;
	top: -14px
}

.num_ {
	position: relative;
	top: -14px
}

.write_input input {
	width: 100px;
	height: 26px;
	background: #ffffff;
	box-shadow: 0px 0px 30px #ccc;
}

.div1 {
	float: left;
	border-radius: 50px;
	box-shadow: 0 0 30px #ccc;
	width: 100px;
	height: 40px !important;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	background: white
}

.write_input {
	position: relative;
	left: 746px;
	color: #afb0b6;
	top: 36px
}

.alertPanel {
	background-color: rgba(105, 111, 124, 0.9);
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
	height: 750px;
	width: 292px;
	z-index: 10000;
	padding: 10px 20px;
	right: -332px
}

.part_panel p {
	color: #dfe0e2;
	font-size: 14px
}

.part_panel dt {
	margin: 15px 40px 10px 40px
}

.part_panel dd {
	width: 110px;
	height: 20px;
	float: left;
	text-align: right;
	position: relative;
	left: 50px;
	margin-bottom: 5px
}

.part_panel {
	margin-bottom: 30px
}

input[type=radio]:checked {
	background: #ff0242 !important;
	width: 18px
}

.rollBox_content li {
	width: 180px;
	height: 190px;
	border-radius: 8px;
	box-shadow: 0 0 10px #ccc;
	float: left;
	position: relative;
	margin: 0 32px 20px 0
}

.rollBox_top {
	height: 80px;
}

.rollBox_top>img {
	height: 80px;
	width: 180px;
	border-radius: 8px 8px 0 0
}

.rollBox_center {
	padding-left: 20px;
	margin: 7px 0
}

.rollBox_center p {
	font-size: 10px;
	color: black;
	line-height: 18px
}

.rollBox_bottom {
	border-bottom: 1px solid #dadada;
	color: black;
	border-top: 1px solid #dadada;
	width: 180px;
	margin: 0px auto;
	height: 20px;
	line-height: 20px;
	text-align: center
}

.rollBox_bottom_num {
	width: 50%;
	float: left;
	border-right: 1px solid #dadada
}

.rollBox_bottom p {
	text-align: center
}

.rollBox_bottom span {
	display: inline-block;
	text-align: cente;
	color: black
}

.rollBox {
	height: 720px;
	border: 1px solid #ccc;
	border-radius: 8px;
	margin-top: 12px
}

.content_right>.setting_first button {
	width: 130px;
	height: 28px;
	border: none;
	border-radius: 12px;
	text-align: center;
	line-height: 28px;
	color: white;
	font-size: 14px;
	background: #59688a
}

.rollBox_content ul {
	float: left;
	width: 100%;
	margin-right: 50px
}

.content_right {
	padding: 25px 30px;
	position: relative
}

.LeftButton {
	position: absolute;
	top: 45%;
	z-index: 2
}

.RightButton {
	position: absolute;
	right: 50px;
	top: 45%;
	z-index: 2
}

.rollBox_content {
	width: 90%;
	margin: 50px auto;
	padding-left: 25px;
	overflow: hidden
}

.setting_close {
	position: absolute;
	right: 3px;
	top: 3px
}

.setting_mask {
	position: absolute;
	width: 180px;
	height: 110px;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	font-size: 18px;
	text-align: center;
	line-height: 110px;
	color: white
}

.rollBox_content_ul {
	position: relative
}

.content_right>.setting_first>span {
	position: relative;
	display: inline-block;
	color: black;
	font-size: 12px;
}

.content_right>.setting_first>span  .setting_all {
	position: absolute;
	left: 0px;
	top: 29px
}

.content_right>.setting_first>span select {
	width: 100px;
	height: 22px;
	padding-left: 50px;
	margin-left: 12px;
	font-size: 14px
}

.setting_all {
	position: absolute;
	width: 300px;
	border: 1px solid #0d9bd6;
	z-index: 3;
	background: white;
	padding: 10px 5px;
	display: none;
	border-radius: 0px 12px 12px 12px
}

.setting_all li {
	float: left;
	width: 70px;
	overflow: hidden;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color: #646464;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.setting_all li:hover {
	text-overflow: inherit;
	overflow: visible;
}

.setting_all li:hover {
	color: #0d9bd6
}

.content_right>.setting_first em {
	display: inline-block;
	width: 150px;
	height: 28px;
	text-align: center;
	line-height: 28px;
	margin-left: 12px;
	position: relative;
	z-index: 10;
	cursor: pointer
}

.setting_first .active {
	color: #0d9bd6;
	border-radius: 12px 12px 0 0 !important;
	border: 1px solid #0d9bd6 !important;
	border-bottom: 1px solid white !important;
	z-index: 10;
	position: relative
}

.content_right>.setting_first em i {
	display: inline-block;
	width: 150px;
	height: 28px;
	z-index: 10;
	border-radius: 12px;
	border: 1px solid #b8b8b8;
	position;
	relative
}

.total_text i {
	color: #e6461b
}

.rollBox_top_mask {
	position: absolute;
	width: 180px;
	height: 80px;
	top: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.6);
	font-size: 18px;
	text-align: center;
	line-height: 80px;
	color: white;
	display: none
}

.rollBox_top_mask span {
	display: inline-block;
	width: 50%;
	text-align: center;
	position: relative;
	top: -25px
}

.setting_write {
	position: absolute;
	left: 3px;
	top: 3px
}

.active_img.active1 {
	display: inline-block;
	width: 19px;
	height: 13px;
	background: url('../images/setting_down.png') no-repeat;
	background-size: 15px 10px;
	position: relative;
	top: 4px;
	left: 5px
}

.active_img.active2 {
	display: inline-block;
	width: 19px;
	height: 13px;
	background-size: 15px 10px;
	position: relative;
	top: 4px;
	left: 5px;
	background: url('../images/active_img.png') no-repeat;
}

.rollBox_bottom_price em {
	color: #ef0909
}

.rollBox_content_ul li>p {
	text-align: center
}

.rollBox_content_ul li>p>button {
	border: none;
	border-radius: 12px;
	text-align: center;
	width: 132px;
	height: 20px;
	line-height: 20px;
	color: white;
	background: #0d9bd6
}

.rollBox_content_ul li>p>button:hover {
	background: #0b94cd
}