<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bkn.browser.mybatis.LoveClassInfoMapper">
  <resultMap id="BaseResultMap" type="com.bkn.system.entity.LoveClassInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shut_text" jdbcType="VARCHAR" property="shutText" />
    <result column="shut_strong_text" jdbcType="VARCHAR" property="shutStrongText" />
    <result column="shut_image_path" jdbcType="VARCHAR" property="shutImagePath" />
    <result column="person_image_path" jdbcType="VARCHAR" property="personImagePath" />
    <result column="create_date" jdbcType="CHAR" property="createDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bkn.system.entity.LoveClassInfo">
    <result column="article_content" jdbcType="LONGVARCHAR" property="articleContent" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shut_text, shut_strong_text, shut_image_path, person_image_path, create_date
  </sql>
  <sql id="Blob_Column_List">
    article_content
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from love_class_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from love_class_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bkn.system.entity.LoveClassInfo" useGeneratedKeys="true">
    insert into love_class_info (shut_text, shut_strong_text, shut_image_path, 
      person_image_path, create_date, article_content
      )
    values (#{shutText,jdbcType=VARCHAR}, #{shutStrongText,jdbcType=VARCHAR}, #{shutImagePath,jdbcType=VARCHAR}, 
      #{personImagePath,jdbcType=VARCHAR}, #{createDate,jdbcType=CHAR}, #{articleContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bkn.system.entity.LoveClassInfo" useGeneratedKeys="true">
    insert into love_class_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shutText != null">
        shut_text,
      </if>
      <if test="shutStrongText != null">
        shut_strong_text,
      </if>
      <if test="shutImagePath != null">
        shut_image_path,
      </if>
      <if test="personImagePath != null">
        person_image_path,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="articleContent != null">
        article_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shutText != null">
        #{shutText,jdbcType=VARCHAR},
      </if>
      <if test="shutStrongText != null">
        #{shutStrongText,jdbcType=VARCHAR},
      </if>
      <if test="shutImagePath != null">
        #{shutImagePath,jdbcType=VARCHAR},
      </if>
      <if test="personImagePath != null">
        #{personImagePath,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=CHAR},
      </if>
      <if test="articleContent != null">
        #{articleContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bkn.system.entity.LoveClassInfo">
    update love_class_info
    <set>
      <if test="shutText != null">
        shut_text = #{shutText,jdbcType=VARCHAR},
      </if>
      <if test="shutStrongText != null">
        shut_strong_text = #{shutStrongText,jdbcType=VARCHAR},
      </if>
      <if test="shutImagePath != null">
        shut_image_path = #{shutImagePath,jdbcType=VARCHAR},
      </if>
      <if test="personImagePath != null">
        person_image_path = #{personImagePath,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=CHAR},
      </if>
      <if test="articleContent != null">
        article_content = #{articleContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bkn.system.entity.LoveClassInfo">
    update love_class_info
    set shut_text = #{shutText,jdbcType=VARCHAR},
      shut_strong_text = #{shutStrongText,jdbcType=VARCHAR},
      shut_image_path = #{shutImagePath,jdbcType=VARCHAR},
      person_image_path = #{personImagePath,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=CHAR},
      article_content = #{articleContent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bkn.system.entity.LoveClassInfo">
    update love_class_info
    set shut_text = #{shutText,jdbcType=VARCHAR},
      shut_strong_text = #{shutStrongText,jdbcType=VARCHAR},
      shut_image_path = #{shutImagePath,jdbcType=VARCHAR},
      person_image_path = #{personImagePath,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="ResultMapWithBLOBs">
  	    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from love_class_info
  </select>
</mapper>