<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bkn.browser.mybatis.LoveArticleInfoMapper">
  <resultMap id="BaseResultMap" type="com.bkn.system.entity.LoveArticleInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="shut_text" jdbcType="VARCHAR" property="shutText" />
    <result column="shut_image_path" jdbcType="VARCHAR" property="shutImagePath" />
    <result column="article_content" jdbcType="VARCHAR" property="articleContent" />
    <result column="person_image_path" jdbcType="VARCHAR" property="personImagePath" />
    <result column="create_date" jdbcType="CHAR" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, shut_text, shut_image_path, article_content, person_image_path, create_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from love_article_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from love_article_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bkn.system.entity.LoveArticleInfo" useGeneratedKeys="true">
    insert into love_article_info (shut_text, shut_image_path, article_content, 
      person_image_path, create_date)
    values (#{shutText,jdbcType=VARCHAR}, #{shutImagePath,jdbcType=VARCHAR}, #{articleContent,jdbcType=VARCHAR}, 
      #{personImagePath,jdbcType=VARCHAR}, #{createDate,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.bkn.system.entity.LoveArticleInfo" useGeneratedKeys="true">
    insert into love_article_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shutText != null">
        shut_text,
      </if>
      <if test="shutImagePath != null">
        shut_image_path,
      </if>
      <if test="articleContent != null">
        article_content,
      </if>
      <if test="personImagePath != null">
        person_image_path,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shutText != null">
        #{shutText,jdbcType=VARCHAR},
      </if>
      <if test="shutImagePath != null">
        #{shutImagePath,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="personImagePath != null">
        #{personImagePath,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bkn.system.entity.LoveArticleInfo">
    update love_article_info
    <set>
      <if test="shutText != null">
        shut_text = #{shutText,jdbcType=VARCHAR},
      </if>
      <if test="shutImagePath != null">
        shut_image_path = #{shutImagePath,jdbcType=VARCHAR},
      </if>
      <if test="articleContent != null">
        article_content = #{articleContent,jdbcType=VARCHAR},
      </if>
      <if test="personImagePath != null">
        person_image_path = #{personImagePath,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bkn.system.entity.LoveArticleInfo">
    update love_article_info
    set shut_text = #{shutText,jdbcType=VARCHAR},
      shut_image_path = #{shutImagePath,jdbcType=VARCHAR},
      article_content = #{articleContent,jdbcType=VARCHAR},
      person_image_path = #{personImagePath,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
  	select * from love_article_info
  </select>
</mapper>