<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bkn.browser.mybatis.LoveUserInfoMapper">
  <resultMap id="BaseResultMap" type="com.bkn.system.entity.LoveUserInfo">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="wechat_open_id" jdbcType="VARCHAR" property="wechatOpenId" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
    <result column="is_vip" jdbcType="BIT" property="isVip" />
    <result column="vip_exprise" jdbcType="CHAR" property="vipExprise" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, phone, wechat_open_id, sex, user_name, image_path, is_vip, vip_exprise
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from love_user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from love_user_info
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="user_id" keyProperty="userId" parameterType="com.bkn.system.entity.LoveUserInfo" useGeneratedKeys="true">
    insert into love_user_info (phone, wechat_open_id, sex, 
      user_name, image_path, is_vip, 
      vip_exprise)
    values (#{phone,jdbcType=CHAR}, #{wechatOpenId,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{imagePath,jdbcType=VARCHAR}, #{isVip,jdbcType=BIT}, 
      #{vipExprise,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" keyColumn="user_id" keyProperty="userId" parameterType="com.bkn.system.entity.LoveUserInfo" useGeneratedKeys="true">
    insert into love_user_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        phone,
      </if>
      <if test="wechatOpenId != null">
        wechat_open_id,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="userName != null">
        user_name,
      </if>
      <if test="imagePath != null">
        image_path,
      </if>
      <if test="isVip != null">
        is_vip,
      </if>
      <if test="vipExprise != null">
        vip_exprise,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="phone != null">
        #{phone,jdbcType=CHAR},
      </if>
      <if test="wechatOpenId != null">
        #{wechatOpenId,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null">
        #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="isVip != null">
        #{isVip,jdbcType=BIT},
      </if>
      <if test="vipExprise != null">
        #{vipExprise,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bkn.system.entity.LoveUserInfo">
    update love_user_info
    <set>
      <if test="phone != null">
        phone = #{phone,jdbcType=CHAR},
      </if>
      <if test="wechatOpenId != null">
        wechat_open_id = #{wechatOpenId,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="imagePath != null">
        image_path = #{imagePath,jdbcType=VARCHAR},
      </if>
      <if test="isVip != null">
        is_vip = #{isVip,jdbcType=BIT},
      </if>
      <if test="vipExprise != null">
        vip_exprise = #{vipExprise,jdbcType=CHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bkn.system.entity.LoveUserInfo">
    update love_user_info
    set phone = #{phone,jdbcType=CHAR},
      wechat_open_id = #{wechatOpenId,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      image_path = #{imagePath,jdbcType=VARCHAR},
      is_vip = #{isVip,jdbcType=BIT},
      vip_exprise = #{vipExprise,jdbcType=CHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByWechatId" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select * from love_user_info where wechat_open_id = #{wechatOpenId,jdbcType=VARCHAR}
  </select>
  <select id="selectByPhone" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select * from love_user_info where phone = #{phone,jdbcType=CHAR}
  </select>
</mapper>